:root {
  --color-text-primary: #b4bcd0;
  --color-text-secondary: #ffffff;
  --color-background-primary: #18181b;
  --color-background-secondary: #222326;
  --color-border: #313035;
  --color-accent: #55d679;
  --shadow-alpha: 0.25;
  --spinner: var(--color-accent);
}
