

:root {
    --color-text-primary: rgb(180, 188, 208);
    --color-text-secondary: rgb(255, 255, 255);
    --color-background-primary: rgb(24, 24, 27);
    --color-background-secondary: rgb(34, 35, 38);
    --color-border: rgb(49, 48, 53);
    --color-accent: rgb(85, 214, 121);
    --shadow-alpha: 0.25;
    --spinner: var(--color-accent);

}
